@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: #f9f5ee;
}
* {
  font-family: "Poppins", sans-serif;
}
